/* Estilos de Componente 'Title' */
.TitleFont{
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    animation: fluido 5s ease-in-out infinite;
  background: linear-gradient(-45deg,  #1a96cf, #d5235e,#f3903f);
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.DivTitle{
    padding-top:5% ;
    display: flex;
flex-direction: row;
justify-content: center;
}

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}